* {
    transition: all 0.2s ease-in-out;
}

body {
    background: #B3C8CF;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F1EEDC;
}

.foto {
    display: block;
    margin-inline: auto;
    width: 40%;
    height: 50%;
    padding: 12px;
}


.card {
    background: #fcfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Perbaikan nilai opacity */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em; /* Atur padding sesuai kebutuhan */
    overflow: hidden;
}


.text {
    padding: 1em;
    color: #333; /* Adjusted text color */
  }
  
  .muted {
    opacity: 0.8;
  }
  
  .space {
    height: 100px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
